:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;}

    body {
        background-color: var(--cor-de-fundo);
        color: var(--branco-principal);}
        
    .principal 
            {background-image: url(https://www.alura.com.br/assets/img/imersao-java/ilustracao-imersao-java.1676983691.png);
                background-repeat:no-repeat;
                background-size: contain;
                background-position: top right;}
             
    .container {height: 100vh;}
    .container__botao {
        background-color: var(--botao-azul);
        border-radius: 5px;
        padding: 1em;
        color: var(--branco-principal);
        display: block;}